body{
  text-align: center;
  background-color: rgba(249, 249, 249, 0.979);
  font-family: "Comic Sans MS", cursive, sans-serif;
  
  
}

#mainblock{
  justify-content: center;
  align-items: center;
  display: flex;
  border-color: aliceblue;
  height: 50vh;
  width: 90vh;
  margin: 25%;
  margin-top: 12.5%;
  border: 5px solid rgb(137, 131, 131);
  padding: 10px;
}

.box{
  height: 100%;
  justify-content: center;
  width: 100%;
  padding: 10px;
}
#login{
  background-color: rgba(242, 121, 230, 0.675);
  
}
#signin{
  background-color: rgba(239, 170, 124, 0.41);
}
.buttons{
  width: 100%;
  /* position: relative; */
}

h1{
  margin: 5px;
}

input{
  width: 100%;
  height: 10%;
  border: 2px solid white;
  border-radius: 15px;
  outline: none;
  background: transparent;

  align-items: flex-start;
  position: relative;
}
input::placeholder{
  color: white;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
}
i{
  position: absolute;
  /* right: 20px; */
}